<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OpenHRX</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="menuheader">{{ local.header | safe }}</div>

<div class="content">
  <div class="glass">
    <h1>OpenHRX Official Website</h1>
    <p>Find OpenHRX official website <a href="https://www.openhrx.be">here</a></p>

  </div>
  <div class="glass">
    <h1>GitHub repository</h1>
    <p>OpenHRX is, and will remain free and open source. You can find its code here: <a href="https://github.com/nwa139/OpenHRX-server">https://github.com/nwa139/OpenHRX-server</a></p>
  </div>
  <div class="glass">
    <h1>Use OpenHRX for you!</h1>
    <p>OpenHRX is free and easy to run, you only need to install the OpenHRX Server and a database (e.g. PostgreSQL). If you have less than 500 employees to manage, running both on a good computer is generally more than enough.
      <br>Even if you know little about computer, the steps are easy to follow. Follow <a href="https://docs.openhrx.one">this link</a> to get a detailed tutorial about how to use OpenHRX in your enterprise</p>

  </div>
</div>
<div id="footer">{{ local.footer | safe }}</div>
</body>
</html>