<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenHRX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="menuheader">{{ local.header | safe }}</div>

<div class="content">
    <div class="employee glass">
        <h1>Employee Viewer</h1>
        <button onclick="window.location.href='/employee/edit/{{ employee.employee_id }}'">Switch to Editor Mode</button>
        <img src="/static/logo/icons/default_pfp.png" alt="No Profile Picture">
        <div><h2>{{ employee.last_name }}</h2><h3>{{ employee.first_name }}</h3></div>
        <h5>Employee ID:</h5>
        <p>{{ employee.employee_id }}</p>
        <h5>Job Title:</h5>
        <p>{{ employee.job_title }}</p>
        <h5>First Name:</h5>
        <p>{{ employee.first_name }}</p>
        <h5>Last Name:</h5>
        <p>{{ employee.last_name }}</p>
        <h5>Birth Date:</h5>
        <p>{{ employee.birth_date }}</p>
        <h5>Manager ID:</h5>
        <p>{{ employee.manager_id }}</p>
        <h5>Personal Phone Number:</h5>
        <p>{{ employee.phone_number }}</p>
        <h5>Professional Phone Number:</h5>
        <p>{{ employee.professional_phone_number}}</p>
        <h5>Personal Email:</h5>
        <p>{{ employee.personal_email }}</p>
        <h5>Professional Email:</h5>
        <p>{{ employee.professional_email }}</p>
        <h5>Department:</h5>
        <p>{{ employee.department_id }}</p>
        <h5>Office:</h5>
        <p>{{ employee.office_id }}</p>
        <h5>Address:</h5>
        <p>{{ employee.address }} {{ employee.house_number }} {{ employee.complementary }}, {{ employee.zip_code }} {{
            employee.city }}, {{ employee.region }}, {{ employee.country }}</p>
    </div>
</div>
<div id="footer">{{ local.footer | safe }}</div>
</body>
</html>