<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenHRX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="menuheader">{{ local.headerlogin | safe }}</div>

<div class="content">
    <div class="glass">
        <h1>Welcome to OpenHRX</h1>
    </div>
    <div class="glass">
        <p>You aren't connected</p>
        <button onclick="window.location.href='/login'">Log in</button>
    </div>
    <div class="glass" style="background-color: #ff7400">
        <img src="/static/logo/icons/warning.png" alt="Warning" style="width: 5%">
        <p>This system is restricted to authorized users. Any unauthorized access, remaining in the system without
            authorization, or tampering with data is strictly prohibited and constitutes an offense under Belgian law
            (Law of 28 November 2000 on computer-related offenses and fraud).</p>
        <button onclick="window.location.href='https://www.ejustice.just.fgov.be/cgi_loi/article.pl?language=fr&lg_txt=f&type=&sort=&numac_search=&cn_search=1867060801&caller=SUM&&view_numac=1867060801f#Art.550bis'"
                style="background-color: #873a00">See Art. 550bis
        </button>
    </div>
</div>
<div id="footer">{{ local.footer | safe }}</div>
</body>
</html>